body {}


/* Modern CSS Reset */
*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html,
body {
    height: 100%;
}

img,
picture,
video,
canvas,
svg {
    display: block;
    max-width: 100%;
}

input,
button,
textarea,
select {
    font: inherit;
}

body {
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
    background-color: rgba(146, 142, 142, 0.568);
}

a {
    text-decoration: none;
    color: inherit;
}

ul {
    list-style-type: none;
}

.inputForm {
    border: 0.1px solid gray;
    border-radius: 5px;
    display: flex;
    text-align: center;
    font-weight: 500;
}

.inputLabel {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}


#btnForm {
    border: 1px solid gray;
    margin: 0px 2px 0px 2px;
    padding: 5px 10px 5px 10px;
    border-radius: 10px;
    background-color: aliceblue;
}

#btnForm:active {
    background-color: rgba(120, 253, 231, 0.753);
}

#btnForm:hover{
    background-color: rgba(120, 253, 231, 0.753);
}