.NavBarAdmin {
    margin-top: 5px;
    display: flex;
    height: 50px;
    align-items: center;
    justify-content: center;
}

.NavBarAdmin ul {
    align-items: center;
}

#AdminList {
    color: black;
}

